---
const {insideArticleDate} = Astro.props;
---
<span style="font-size: 1rem; font-weight: 600; border-radius: 1em; background-color: hsl(0, 0%, 31%); width: max-content; padding: 8px 20px; color: var(--d-background-color);">Data Publikacji: {insideArticleDate}</span>