<div class="article-calusel">
    <slot />
</div>

<style>
    .article-calusel{
		width: 50rem;
		margin-inline: auto;
		margin-bottom: 20px;
		background-color: rgb(40, 80, 100);
		display: grid;
		grid-auto-flow: column;
		gap: 5px;
		overflow-x: auto;
		overflow-y: hidden;
	}
</style>