---
const {sectionHeader} = Astro.props;
---

<section class="article-section">
    <h2 class="article-section-header">{sectionHeader}</h2>
    <slot />
</section>

<style>
    .article-section{
        width: 55vw; margin-inline: auto; margin-bottom: 1rem;
    }
    .article-section-header{
        display: block; margin: 20px 5px;
    }
    @media screen and (min-width: 600px) {
        .article-section{
            width: max-content; height: max-content; margin-inline: auto;
        }
        .article-section-header{
            font-size: 2rem;
        }
    }
    @media screen and (min-width: 900px) {
        .article-section{
            width: 71vw; margin-inline: auto; margin-bottom: 1rem;
        }
        .article-section-header{
            font-size: 2rem;
        }
    }
    @media screen and (max-width: 600px) {
        .article-section{
            width: max-content; height: max-content;
        }
        .article-section-header{
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 450px) {
        .article-section-header{
            font-size: 2rem;
        }
    }

</style>