<div class="article-container">
    <slot />
</div>

<style>
    .article-container{
		width: 50rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5px;
	}
	
	@media screen and (min-width: 600px){
		.article-container{
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
		}
	}
	@media screen and (min-width: 900px){
		.article-container{
			width: 50rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	@media screen and (max-width: 600px){
		.article-container{
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			margin-inline: auto;
		}
	}
	@media screen and (max-width: 450px){
		.article-container{
			width: 89vw;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
</style>