---
const {sectionHeader} = Astro.props;
---

<section style="width: 55vw; margin-inline: auto; margin-bottom: 1rem;">
    <h2 style="display: block; margin: 20px 0;">{sectionHeader}</h2>
    <slot />
</section>