---
import dupa_logo from '../images/dupa_logo.png';
---

<header class="portal-header">
    <img src={dupa_logo.src} height="55" alt="dupa logo" srcset="">
    <nav></nav>
</header>

<style>
    .portal-header{
		width: 60vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-inline: auto;
	}
</style>