---
const {keywords, description, title} = Astro.props;
import Head from '../components/Head.astro';
---
<html lang="pl">
    <Head title={title} keywords={keywords} description={description} />
	<body>
		<main>
            <slot />
		</main>
	</body>
</html>

<style>
	:root{
		--d-background-color: rgb(230, 230, 230);
	}
	body{
		font-family: sans-serif;
		background-color: var(--d-background-color);
		width: 98vw;
		height: 98.3vh;
	}
	@media screen and (min-width: 600px) {
		body{
			width: 97vw;
		}
	}
	@media screen and (max-width: 600px) {
		body{
			width: 40vw;
		}
	}
	@media screen and (max-width: 450px){
		body{
			width: 96vw;
			height: 98vh;
		}
		main{
			height: 90vh;
		}
	}
</style>